@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }

  button,
  .btn,
  [role="button"] {
    @apply text-black;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.3s ease-out;
}